@import "variables";

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.scss";
@import "./layout/sidebar";
@import "./layout/navbar";
@import "./layout/container";
@import "./layout/vessel";
@import "./layout/login";
@import "./layout/LMS";
@import "./layout/Responsive";



